<div *ngIf="error" class="alert alert-danger" style="margin-bottom: 10px;">
  {{ error }}
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="username">username</label>
    <input
      formControlName="username"
      type="text"
      id="username"
      class="form-control"
      name="username"
      required
     >
     <span class="help-block" *ngIf="username.invalid && (username.dirty || username.touched)">Please enter a username</span>

     <label for="password">password</label>
     <input
     formControlName="password"
     type="password"
     id="password"
     class="form-control"
     name="password"
     required
     >
     <span class="help-block" *ngIf="password.invalid && (password.dirty || password.touched)">Please enter a password with at least 6 characters, both uppercasde and lowercase</span>

     <label for="rememberMe">Remember me!</label>
     <input
     formControlName="rememberMe"
     type="checkbox"
     id="rememberMe"
     name="rememberMe"
     style="margin-left: 5px;"
     >

  </div>

    <div>
        <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
        <span><a routerLink="/sign-up" style="margin-left: 15px;">A new user?</a></span>
    </div>
</form>
