<div *ngIf="!newUser">
  <h1>Profile Page</h1>
  <h3>Hello dear {{ user.username }}, here you can edit your personal info!</h3>
</div>
<div *ngIf="error" class="alert alert-danger" style="margin-bottom: 10px;">
  {{ error }}
</div>
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input
      formControlName="firstname"
      type="text"
      id="firstname"
      class="form-control"
      name="firstname"
      required
     >
     <span class="help-block" *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">Please enter a Firstname</span>

    <label for="lastname">Lastname</label>
    <input
      formControlName="lastname"
      type="text"
      id="lastname"
      class="form-control"
      name="lastname"
      required
     >
     <span class="help-block" *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">Please enter a Lastname</span>

    <label for="username">username</label>
    <input
      formControlName="username"
      type="text"
      id="username"
      class="form-control"
      name="username"
      required
     >
     <span class="help-block" *ngIf="username.invalid && (username.dirty || username.touched)">Please enter a username</span>

     <label for="password">password</label>
     <input
     formControlName="password"
     type="password"
     id="password"
     class="form-control"
     name="password"
     required
     >
     <span class="help-block" *ngIf="password.invalid && (password.dirty || password.touched)">Please enter a password with at least 6 characters, both uppercasde and lowercase</span>

     <label for="password2">reenter password</label>
     <input
     formControlName="password2"
     type="password"
     id="password2"
     class="form-control"
     name="password2"
     required
     >
     <span class="help-block" *ngIf="!passwordsMatch">Please make sure that you provide the same password</span>

  </div>

    <div *ngIf="newUser">
        <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">SignUp</button>
    </div>
    <div *ngIf="!newUser">
        <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Update and Logout</button>
        <a routerLink="/"> Or click here to cancel</a>
    </div>
</form>
